.header-wrapper {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 150px 0;
    position: relative;

    
}
.head-1 {
    font-size: 8em;
    font-weight: 700;
    /* color:  #03a9f4; */
    color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: 2px;
        /* animation: zoomIn 10s ease-in-out; */
    /* transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out; */

    animation: rotateFront 2s linear; /* Rotate forward over 2 seconds */
    transform-style: preserve-3d;
}

.svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
