.wrapper-about {
    background: white;
    padding: 70px 0;
}
.card-judul h1 {
    font-weight: 700;
    font-size: 70px;
}
.card-work-1 {
    background-image: url('../../assets/images/bcr-customer.png');
    height: 200px;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid wheat;
}
.card-work-1 h1 {
    padding: 13px;
    font-size: 25px;
    font-weight: 700;
}
.card-work-2 {
    background-image: url('../../assets/images/bcr-platinum.png');
    height: 200px;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid wheat;
}
.card-work-2 h1 {
    padding: 13px;
    font-size: 25px;
    font-weight: 700;
}
.card-work-3 {
    margin-top: 30px;
    background-image: url('../../assets/images/landsnature.png');
    height: 200px;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid wheat;
}
.card-work-3 h1 {
    padding: 13px;
    font-size: 25px;
    font-weight: 700;
}
.card-work-4 {
    margin-top: 30px;
    border: 2px solid wheat;
    border-radius: 30px;
    height: 200px;
}
.card-work-4 h1 {
    padding-top: 13px;
    padding-left: 13px;
    font-weight: 700;
    
}
.card-work-4 p {
    padding: 13px 0px 13px 13px;
}